
<div class="container">
    <div class="info">
        <p>Buyer Name : {{dataBike.name}}</p>
        <p>Email : {{dataBike.email}}</p>
        <p>Phone : {{dataBike.phone}}</p>
        <p>Serial Number : {{dataBike.serialNumber}}</p>
        <p>Purchase Date : {{dataBike.purchaseDate}}</p>
        <p>Id : {{dataBike.id}}</p>
        <p>Model : {{dataBike.model}}</p>
        <p>Purchase Price : {{dataBike.purchasePrice}}</p>
        <p>Contact : {{dataBike.contact}}</p>
    </div>
  <a routerLink="/admin" >Volver a la lista completa</a>
</div>
